loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/.qmake.stash
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/geodesicfunctions.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/loxodrome_calculator.exe
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/main.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/mainwindow.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/moc_mainwindow.cpp
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/moc_mainwindow.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/moc_predefs.h
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/moc_secondwindow.cpp
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/moc_secondwindow.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/debug/secondwindow.o
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/Makefile
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/Makefile.Debug
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/Makefile.Release
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/ui_mainwindow.h
loxodrome_calculator/build/Desktop_Qt_6_10_0_shared_MinGW_w64_MINGW64_MSYS2-Debug/ui_secondwindow.h
loxodrome_calculator/.qtcreator/loxodrome_calculator.pro.user
